@import "tailwindcss";

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: center;
  background-color: #F2F4F7;
}

body{
font-family: poppins, sans-serif;
}

.bg-header-gradient {
  background: linear-gradient(90deg, #031724 0%, #0B598A 100%);
}

.bg-gradient-to-r {
    --tw-gradient-position: to right in oklab;
    background-image: linear-gradient(var(--tw-gradient-stops));
}


/* index.css */

.benefits-line-gradient {
  background: linear-gradient(
    to right,
    #bcbcbc 0%,
    #f2f4f7 18%,
    #bcbcbc 28%,
    #f2f4f7 38%,
    #bcbcbc 48%,
    #f2f4f7 59%,
    #bcbcbc 70%,
    #f2f4f7 81%,
    #bcbcbc 100%
  );
}

.card-long-gradient {
  background: linear-gradient(135deg, #041f31 0%, #0c6097 100%);
}

@utility wrap-100 {
  width: 100%;
}

@utility wrap-90 {
  padding-left: 5%;
  padding-right: 5%;
}

@utility wrap-80 {
  padding-left: 10%;
  padding-right: 10%;
}

@utility wrap-70 {
  padding-left: 15%;
  padding-right: 15%;
}
